@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  @apply max-w-[1200px] w-full text-white;
}

.container-with-padding {
  @apply max-w-[1200px] w-full text-white  px-[55px] py-[25px];
}
