.newsPageWrapper {
  @apply flex flex-col gap-[30px] pb-[15px];
}

.truncatedText {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Kaç satır göstereceğinizi belirleyin */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
